body
{
	margin: 0px;
}
#logo
{

	margin-left: 60px;
	float: left;
	font-size: 20px;
	margin-top: 18px;
}
.header

{
	background-color: #F4F4F4;
	margin-top: 0px;
	height: 65px;
	width: 100%;
}
.bottom
{
	height: 45px;
	width: 100%;
	float: left;
	background-color: #202121;


}
.bottom p
{
	margin-left: 60px;
	margin-top: 3px;
	vertical-align: middle;
	color: #888888;
}
.bottom a
{
	color: #888888;
}
.bottomtext
{
	font-size:12px;
	color:#888888;


}
